.row{
    display: inline-block;
    width: 100%;
    text-align: center
}
.card:nth-child(2){
    background: linear-gradient(180deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
    color: aliceblue;
}
.card{
    background-color: white;
    color:  hsl(232, 13%, 33%);
    font-weight: 500;
    margin: 25px;
    border-radius: 5px;
    height: 365px;
}

h2{
    font-size: medium;
    margin: 35px 0 0;
    padding: 23px 0 0px 0;
}

/* .price {
    font-size: 48px;
    font-weight: 750;
    letter-spacing: -3px;
    border-bottom: solid 1px rgb(223, 233, 229);
    padding: 0 72px 6px;
}*/
.price::first-letter{
    font-size: 25px;
    margin: 19px -69px 0px 54px;
    float: left
} 
.price{
    font-size: 48px;
    font-weight: 750;
    margin: 0;
    letter-spacing: -2px;
}

.card div{
    margin: 20px;
}

p{
    font-size: small;
    font-weight: 700;
    border-bottom: solid 1px rgb(223, 233, 229);
    padding: 0 0px 15px;
} 
.button {
    padding: 10px;
    width: 85%;
    border: none;
    color: white ;
    border-radius: 5px;
    background: linear-gradient(90deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%)100%);
    margin: 4px 0 
}
.card .button:nth-child(2){
    background-color: aliceblue;
    color: hsl(237, 63%, 64%);
}


@media (min-width: 1200px) {
    .row{
        display: flex;
        position: relative;
        justify-content: center;
        height: 545px;
        padding: 65px 5px;;
    }
    .card{
        height: 383px;
        width: 23.9%;
        margin: 0;
    }
    .price{
        padding: 0 58px 6px;        ;
    }
    .price::first-letter{
        margin: 19px -69px 0px -9px;
    }
}