*{
    box-sizing: border-box;
}
.plan{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
    width: 55px;
    height: 29px;
    margin: 0 15px;
    cursor: pointe;
}
.switch{
    position: relative;
    width: 45px;
    height: 25px;
    appearance: none;
    outline: none;
    cursor: pointer;
    background: hsl(237, 63%, 64%); 
    background: linear-gradient(90deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%)100%, rgba(0,212,255,1) 100%);
    border-radius: 25px;
    transition: 1s
}
.switch:before{
    content: "";
    width: 5px;
    height: 21px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transform: translate(2px , 2px);
    box-shadow: inset 2px 0 4px rgba(0, 0, 0, .5), -2px 0 2px rgba(0, 0, 0, .5);
    animation: off 1s forwards; 
}
switch:checked{
    background-color:rgb(149 183 212); ;
    transition: all 1s; 
}
.switch:checked::before{
    transform: translate(15px, 2px);
    box-shadow: inset -2px 0 4px rgba(0, 0, 0, .5),
    -2px 0 2px rgba(0, 0, 0, .5);
    right: 17px;
    animation: on 1s forwards;
}

@keyframes on{
    0%, 50%, 100%{
        width: 21px;
    }
}
@keyframes off{
    0%, 50%, 100%{
        width: 21px;
    }
} 
span{
    color: hsl(234, 14%, 74%);
    font-weight: 500;
}
