.content{
    background-image: url("./assets/bg-top.svg"), linear-gradient(-25deg, hsl(236deg 72% 79% / 15%), #00000008);
    background-repeat: no-repeat;
    background-position: 171px -4%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 1440px){
    .content{
        max-width: 100%;
        min-height: 100%;
        font-size: 15px;
        background-color: hsl(240, 78%, 98%);
        background-image: url("./assets/bg-bottom.svg"), url("./assets/bg-top.svg");
        background-repeat: no-repeat, no-repeat; 
        background-position: 0% 100%, 100% 0%;
        background-size: 18rem, 24rem;

    }
} 
